:root {
  // Текста
  --font-size-massive: 24px;
  --font-size-huge: 20px;
  --font-size-big: 18px;
  --font-size-large: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-mini: 10px;

  --line-height-massive: 28px;
  --line-height-huge: 28px;
  --line-height-big: 24px;
  --line-height-large: 24px;
  --line-height-medium: 20px;
  --line-height-small: 16px;
  --line-height-mini: 14px;

  // Заголовки
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 18px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;

  --line-height-h1: 28px;
  --line-height-h2: 24px;
  --line-height-h3: 24px;
  --line-height-h4: 24px;
  --line-height-h5: 24px;
  --line-height-h6: 20px;
}
